
html,body {
  padding: 0;
  margin: 0;
  font-family: arial;
}

.login-div {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

input[type="submit"] {
  text-transform: uppercase;
  background-color: rgb(48, 106, 221);
  min-width: 100px;
  min-height: 30px;
  color: #FFF;
  font-weight: bold;
  box-shadow: 2px 2px 5px #3b3c3d;
  border-radius: 15px;
}

h1 {
  border: none;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  color: white;
  text-transform: uppercase;
}

h2 {
  padding: 0;
  margin: 0;
}

.tb1 tr td {
  padding: 5px;
}

.tb2 tr td {
  padding: 0;
  margin: 0;
}
