Header{
    font-family: 'lucida sans';
    font-size: 40px;
    font-weight: 50px;
    text-align: center
}

input[type="button"]{
    text-transform: uppercase;
    background-color: white
    border: none;
    min-width: 100px;
    min-height: 30px;
    color: black;
    box-shadow: 2px 2px 5px #3b3c3d;
    border-radius: 15px;
    font-weight:40px;
    text-align: center;
    margin: 20px;}

body{
  text-align: center;
  background: lightblue;
  font-size: 20px;
  font-weight: 40px;
  font-style: times;
}
p{
  margin:15px;
}
